body{
    text-align: center;
    
}
#parra{
    font-size: 100px;
    margin-top: 2%;
}
#parra>img{
    width: 50%;
    height: 300px;
    border-radius: 30%;
    margin-top: 2%;

}
#btn{
    background-color: blue;
    color: white;
    border: none;
    width: 30%;
    font-size: 70px;
    margin-top: 2%;
    border-radius: 20%;
}